# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtualenvs / Envs
.env
*.env

# DVC + ML metadata
.dvc/
.dvcignore
.mlflow/
mlartifacts/
mlruns/
results/
models/
model_cache/
logs/

# Data
data/

Project Summary.docx
